In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import sklearn
import warnings; warnings.simplefilter('ignore')

In [2]:
book_data = pd.read_csv('book_summaries1.csv')

In [3]:
book_data.head()

,book_id,book_name,genre,summary,ratings,year,age
0,620,Animal Farm,Roman à clef,old major the old boar on the manor farm calls...,2.1,1838,64
1,843,A Clockwork Orange,Science Fiction,alex a teenager living in near future england ...,3.9,1810,20
2,986,The Plague,Existentialism,the text of the plague is divided into five pa...,2.2,1931,24
3,2080,A Fire Upon the Deep,Hard science fiction,the novel posits that space around the milky w...,3.8,1965,60
4,2152,All Quiet on the Western Front,War novel,the book tells the story of paul b umer a germ...,2.7,1988,10

In [4]:
user_data = pd.read_csv('UserData.csv')

In [5]:
user_data.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [6]:
rating_data = pd.read_csv("ratings.csv")

In [7]:
rating_data.head()

   Unnamed: 0  User_ID   book_id  Book_Rating
0           0   276725  26895596          2.4
1           1   276726  23266533          4.9
2           2   276727    386568          3.4
3           3   276729   1133955          3.4
4           4   276729  11389275          2.6

In [8]:
book_data.drop('summary',axis='columns',inplace=True)

In [9]:
book_data.head()

,book_id,book_name,genre,ratings,year,age
0,620,Animal Farm,Roman à clef,2.1,1838,64
1,843,A Clockwork Orange,Science Fiction,3.9,1810,20
2,986,The Plague,Existentialism,2.2,1931,24
3,2080,A Fire Upon the Deep,Hard science fiction,3.8,1965,60
4,2152,All Quiet on the Western Front,War novel,2.7,1988,10

In [10]:
pd.get_dummies(book_data,columns=['genre'])

,book_id,book_name,ratings,year,age,"genre_""Childrens literature""",genre_Absurdist fiction,genre_Adventure,genre_Adventure novel,genre_Albino bias,...,genre_Urban fantasy,genre_Urban fiction,genre_Utopian and dystopian fiction,genre_Utopian fiction,genre_Vampire fiction,genre_War novel,genre_Western,genre_Western fiction,genre_Wuxia,genre_Young adult literature
0,620,Animal Farm,2.1,1838,64,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,843,A Clockwork Orange,3.9,1810,20,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,986,The Plague,2.2,1931,24,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2080,A Fire Upon the Deep,3.8,1965,60,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2152,All Quiet on the Western Front,2.7,1988,10,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12836,36372465,The Third Lynx,2.2,1979,15,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12837,36534061,Remote Control,3.5,1975,27,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12838,37054020,Transfer of Power,2.0,1817,60,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12839,37122323,Decoded,2.3,1963,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12840,37159503,Poor Folk,3.6,1941,48,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
book_data.drop('age',axis='columns',inplace=True)

In [12]:
book_data = pd.get_dummies(book_data,columns=['genre'])

In [13]:
book_data.head()

,book_id,book_name,ratings,year,"genre_""Childrens literature""",genre_Absurdist fiction,genre_Adventure,genre_Adventure novel,genre_Albino bias,genre_Alien invasion,...,genre_Urban fantasy,genre_Urban fiction,genre_Utopian and dystopian fiction,genre_Utopian fiction,genre_Vampire fiction,genre_War novel,genre_Western,genre_Western fiction,genre_Wuxia,genre_Young adult literature
0,620,Animal Farm,2.1,1838,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,843,A Clockwork Orange,3.9,1810,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,986,The Plague,2.2,1931,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2080,A Fire Upon the Deep,3.8,1965,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2152,All Quiet on the Western Front,2.7,1988,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [14]:
book_data.shape

(12841, 183)

In [15]:
book_data.drop('ratings',axis='columns',inplace=True)

In [16]:
book_data.loc[0]

book_id                                 620
book_name                       Animal Farm
year                                   1838
genre_"Childrens literature"              0
genre_Absurdist fiction                   0
                                   ...
genre_War novel                           0
genre_Western                             0
genre_Western fiction                     0
genre_Wuxia                               0
genre_Young adult literature              0
Name: 0, Length: 182, dtype: object

In [17]:
book_data.isnull().sum()

book_id                         0
book_name                       0
year                            0
genre_"Childrens literature"    0
genre_Absurdist fiction         0
                               ..
genre_War novel                 0
genre_Western                   0
genre_Western fiction           0
genre_Wuxia                     0
genre_Young adult literature    0
Length: 182, dtype: int64

UserDATA

In [18]:
user_data.shape

(278858, 3)

In [19]:
user_data.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [20]:
user_data['User-ID'].unique()

array([     1,      2,      3, ..., 278856, 278857, 278858], dtype=int64)

In [21]:
user_data['Age'].unique()

array([ nan,  18.,  17.,  61.,  26.,  14.,  25.,  19.,  46.,  55.,  32.,
        24.,  20.,  34.,  23.,  51.,  31.,  21.,  44.,  30.,  57.,  43.,
        37.,  41.,  54.,  42.,  50.,  39.,  53.,  47.,  36.,  28.,  35.,
        13.,  58.,  49.,  38.,  45.,  62.,  63.,  27.,  33.,  29.,  66.,
        40.,  15.,  60.,   0.,  79.,  22.,  16.,  65.,  59.,  48.,  72.,
        56.,  67.,   1.,  80.,  52.,  69.,  71.,  73.,  78.,   9.,  64.,
       103., 104.,  12.,  74.,  75., 231.,   3.,  76.,  83.,  68., 119.,
        11.,  77.,   2.,  70.,  93.,   8.,   7.,   4.,  81., 114., 230.,
       239.,  10.,   5., 148., 151.,   6., 101., 201.,  96.,  84.,  82.,
        90., 123., 244., 133.,  91., 128.,  94.,  85., 141., 110.,  97.,
       219.,  86., 124.,  92., 175., 172., 209., 212., 237.,  87., 162.,
       100., 156., 136.,  95.,  89., 106.,  99., 108., 210.,  88., 199.,
       147., 168., 132., 159., 186., 152., 102., 116., 200., 115., 226.,
       137., 207., 229., 138., 109., 105., 228., 183., 204.,  98., 223.,
       113., 208., 107., 157., 111., 146., 118., 220., 143., 140., 189.,
       127.])

In [22]:
user_data.loc[(user_data['Age'] > 90) | (user_data['Age'] < 5)] = np.nan
user_data['Age'].fillna((user_data['Age'].mean()), inplace=True)
user_data['Age']= user_data['Age'].astype('int64')
user_data['Age'].unique()

array([34, 18, 17, 61, 26, 14, 25, 19, 46, 55, 32, 24, 20, 23, 51, 31, 21,
       44, 30, 57, 43, 37, 41, 54, 42, 50, 39, 53, 47, 36, 28, 35, 13, 58,
       49, 38, 45, 62, 63, 27, 33, 29, 66, 40, 15, 60, 79, 22, 16, 65, 59,
       48, 72, 56, 67, 80, 52, 69, 71, 73, 78,  9, 64, 12, 74, 75, 76, 83,
       68, 11, 77, 70,  8,  7, 81, 10,  5,  6, 84, 82, 90, 85, 86, 87, 89,
       88], dtype=int64)

In [23]:
rating_data.head()

   Unnamed: 0  User_ID   book_id  Book_Rating
0           0   276725  26895596          2.4
1           1   276726  23266533          4.9
2           2   276727    386568          3.4
3           3   276729   1133955          3.4
4           4   276729  11389275          2.6

In [24]:
rating_data.drop('Unnamed: 0',axis='columns',inplace=True)

In [25]:
rating_data.head()

   User_ID   book_id  Book_Rating
0   276725  26895596          2.4
1   276726  23266533          4.9
2   276727    386568          3.4
3   276729   1133955          3.4
4   276729  11389275          2.6

In [26]:
unique_ratings = rating_data[rating_data.book_id.isin(book_data.book_id)]

In [27]:
rating_data = rating_data[rating_data.User_ID.isin(user_data['User-ID'])]

In [28]:
rating_data.shape

(1142978, 3)

In [29]:
unique_ratings.shape

(1149780, 3)

In [30]:
book_data.shape

(12841, 182)

In [31]:
user_data.shape

(278858, 3)

In [32]:
unique_ratings['Book_Rating'].unique()

array([2.4, 4.9, 3.4, 2.6, 3.1, 3.8, 2.1, 4.1, 4.3, 4.5, 2.7, 3.5, 3.9,
       2.9, 4.7, 4.6, 2. , 2.8, 3.6, 3.7, 2.3, 4.8, 3.2, 3. , 4.2, 2.5,
       4.4, 3.3, 4. , 2.2, 5. ])

### Popularity Based Recommendation i.e All Time Favourite

In [33]:
new_book_dataset = pd.merge(book_data,rating_data,on='book_id')
new_book_dataset.head()

,book_id,book_name,year,"genre_""Childrens literature""",genre_Absurdist fiction,genre_Adventure,genre_Adventure novel,genre_Albino bias,genre_Alien invasion,genre_Alternate history,...,genre_Utopian and dystopian fiction,genre_Utopian fiction,genre_Vampire fiction,genre_War novel,genre_Western,genre_Western fiction,genre_Wuxia,genre_Young adult literature,User_ID,Book_Rating
0,620,Animal Farm,1838,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,278488,4.1
1,620,Animal Farm,1838,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11676,2.9
2,620,Animal Farm,1838,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,19233,3.4
3,620,Animal Farm,1838,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,19969,4.7
4,620,Animal Farm,1838,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,23768,4.8

In [34]:
new_book_dataset.shape

(1142978, 184)

In [35]:
new_book_dataset.book_name.nunique()

12637

In [36]:
top_ten_books = pd.DataFrame(new_book_dataset.groupby('book_name')['Book_Rating'].count().sort_values(ascending = False).head(10))

print('The top ten books : ')
top_ten_books

The top ten books :

               Book_Rating
book_name
Inferno                379
Haunted                360
Nemesis                315
The Return             294
Outcast                291
Passage                285
Betrayal               279
Exodus                 273
The Keep               270
Storm Warning          261

## Memory-Based Collaborating Filtering

user-itme filetering
item-item filtering

### Train-Test Split

In [37]:
from sklearn import model_selection
train_data, test_data = model_selection.train_test_split(new_book_dataset,test_size=0.20)

In [38]:
train_data.head()

,book_id,book_name,year,"genre_""Childrens literature""",genre_Absurdist fiction,genre_Adventure,genre_Adventure novel,genre_Albino bias,genre_Alien invasion,genre_Alternate history,...,genre_Utopian and dystopian fiction,genre_Utopian fiction,genre_Vampire fiction,genre_War novel,genre_Western,genre_Western fiction,genre_Wuxia,genre_Young adult literature,User_ID,Book_Rating
20789,70206,Picnic at Hanging Rock,1927,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,249894,4.2
283573,2596784,Heat and Dust,2008,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,123501,2.9
966180,20601611,Just Call Me Stupid,2000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,227705,2.6
853386,15308087,Umrao Jaan Ada,1990,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,209985,4.4
113206,722312,Women in Love,1889,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,107301,4.1

In [39]:
u_unique_train = train_data.User_ID.unique()
train_data_user2idx = {o:i for i,o in enumerate(u_unique_train)}

i_unique_train = train_data.book_id.unique()
train_data_book2idx = {o:i for i,o in enumerate(i_unique_train)}

u_unique_test = test_data.User_ID.unique()  
test_data_user2idx = {o:i for i, o in enumerate(u_unique_test)}

i_unique_test = test_data.book_id.unique() 
test_data_book2idx = {o:i for i, o in enumerate(i_unique_test)}

In [40]:
# Training set
train_data['u_unique'] = train_data['User_ID'].map(train_data_user2idx)
train_data['i_unique'] = train_data['book_id'].map(train_data_book2idx)

# Testing Set
test_data['u_unique'] = test_data['User_ID'].map(test_data_user2idx)
test_data['i_unique'] = test_data['book_id'].map(test_data_book2idx)

train_data = train_data[['u_unique','i_unique','Book_Rating']]
test_data = test_data[['u_unique','i_unique','Book_Rating']]

In [41]:
train_data.sample(5)

         u_unique  i_unique  Book_Rating
217020         89      2191          3.5
1028885     29973       186          2.7
844320      10593      8136          4.4
168343        168        67          3.6
97223         173       855          3.9

### User-Item Matrix for train data

In [42]:
n_users = train_data['u_unique'].nunique()
n_books = train_data['i_unique'].nunique()

train_matrix = np.zeros((n_users,n_books))

for entry in train_data.itertuples():
    train_matrix[entry[1]-1,entry[2]-1] = entry[3]

In [43]:
train_matrix.shape

(92298, 12841)

### User-Item Matrix for test data

In [50]:
n_users = test_data['u_unique'].nunique()
n_books = test_data['i_unique'].nunique()

test_matrix = np.zeros((n_users,n_books))

for entry in test_data.itertuples():
    test_matrix[entry[1]-1,entry[2]-1] = entry[3]

MemoryError: Unable to allocate 4.03 GiB for an array with shape (42136, 12841) and data type float64

In [49]:
test_matrix.shape

(42136, 12841)

### Cosine Similarity Based Recommendation System

A distance metric commonly used in recommender systems is cosine similarity, where the ratings are seen as vectors in n-dimensional space and the similarity is calculated based on the angle between these vectors.

To make item-item similarity we need to take the transpose of the matrix.

In [51]:
train_matrix_small = train_matrix[:5000,:5000]
test_matrix_small = train_matrix[:5000,:5000]

from sklearn.metrics.pairwise import pairwise_distances

user_similarity = pairwise_distances(train_matrix_small,metric='cosine')
item_similarity = pairwise_distances(train_matrix_small.T,metric='cosine')

Now I'll define a function to predict the similarity :

In [56]:
def predict_books(ratings,similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        ratings_diff = (ratings - mean_user_rating[:,np.newaxis])
        pred = mean_user_rating[:,np.newaxis] + similarity.dot(ratings_diff)/np.array([np.abs(similarity).sum(axis=1)]).T

    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [57]:
item_prediction = predict_books(train_matrix_small,item_similarity,type='item')
user_prediction = predict_books(train_matrix_small,user_similarity, type='user')

## Evaluation

In [59]:
from sklearn.metrics import mean_squared_error
from math import sqrt

def rmse(prediction, test_matrix):
    prediction = prediction[test_matrix.nonzero()].flatten()
    test_matrix = test_matrix[test_matrix.nonzero()].flatten()
    return sqrt(mean_squared_error(prediction,test_matrix))

print(f'item-based CF RMSE: {rmse(item_prediction,test_matrix_small)}')
print(f'User-based CF RMSE: {rmse(user_prediction,test_matrix_small)}')

item-based CF RMSE: 3.4187552052750445
User-based CF RMSE: 3.41456467705793

### SVD Based Recommendation System

In [62]:
from surprise import Reader,Dataset

reader = Reader(rating_scale=(1,10))
data = Dataset.load_from_df(rating_data,reader)

In [63]:
from surprise import SVD,model_selection,accuracy

model = SVD()

%time model_selection.cross_validate(model,data,measures=['RMSE'],cv=5,verbose=True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8917  0.8936  0.8943  0.8929  0.8931  0.8931  0.0009
Fit time          126.04  114.57  107.11  107.82  102.29  111.57  8.23
Test time         4.99    4.06    3.25    4.07    4.64    4.20    0.59
Wall time: 9min 58s

{'test_rmse': array([0.89172752, 0.89364654, 0.89429571, 0.89292746, 0.89305253]),
 'fit_time': (126.03868961334229,
  114.56608319282532,
  107.11226558685303,
  107.82203984260559,
  102.29101872444153),
 'test_time': (4.988168716430664,
  4.062807321548462,
  3.2534172534942627,
  4.072403907775879,
  4.637336492538452)}

### Train - Test Split

In [64]:
trainset, testset = model_selection.train_test_split(data, test_size= 0.2)

model = SVD()

model.fit(trainset)
predictions = model.test(testset)

accuracy.rmse(predictions)

RMSE: 0.8912

0.8911818069839095

### TESTING RESULT

Let's take an arbitrary user-id and item-id to test our model.

In [81]:
uid = 276726
iid = '23266533'
pred = model.predict(uid,iid,verbose=True)

user: 276726     item: 23266533   r_ui = None   est = 3.63   {'was_impossible': False}

In [79]:
rating_data.head()

   User_ID   book_id  Book_Rating
0   276725  26895596          2.4
1   276726  23266533          4.9
2   276727    386568          3.4
3   276729   1133955          3.4
4   276729  11389275          2.6

In [80]:
print(f'The estimated rating for the book with book_id code {pred.iid} from user #{pred.uid} is {pred.est:.2f}.\n')

actual_rtg = rating_data[(rating_data.User_ID == pred.uid) & (rating_data.book_id==pred.iid)].Book_Rating.values[0]
print(f'The real rating given for this was {actual_rtg:.2f}.')

The estimated rating for the book with book_id code 6620794 from user #276813 is 3.51.

IndexError: index 0 is out of bounds for axis 0 with size 0

In [82]:
from collections import defaultdict

def get_top_n(predictions, n=10):
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid,est))
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key = lambda x:x[1], reverse = True)
        top_n[uid] = user_ratings[:n]
    return top_n

In [83]:
pred = model.test(testset)
top_n = get_top_n(pred)

In [88]:
def get_reading_list(userid):
    reading_list = defaultdict(list)
    top_n = get_top_n(pred,n=10)
    for n in top_n[userid]:
        book, rating = n
        title = new_book_dataset.loc[new_book_dataset.book_id == book].book_name.unique()[0]
        reading_list[title] = rating
    return reading_list

In [65]:
example_reading_list = get_reading_list(userid=107301)
for book,rating in example_reading_list.items():
    print(f'{book}:{round(rating,1)}')

Sufferings in Africa: The Incredible True Story of a Shipwreck, Enslavement, and Survival on the Sahara:4.0
Handles:4.0
To Dance with the White Dog:3.9
Times of Contempt:3.9
Maya the Bee:3.9
Maza of the Moon:3.8
Beasts of No Nation:3.8
Birds of Prey:3.8
Just Call Me Stupid:3.8
Emma in Winter:3.8