In [2]:
import pandas as pd 
import numpy as np

In [3]:
book_summaries = pd.read_csv("book_summaries.csv")

In [4]:
book_summaries.head()

,S.No,book_id,book_name,genre,summary,ratings
0,0,620,Animal Farm,"['Roman à clef', 'Satire', ""Children's literat...",old major the old boar on the manor farm calls...,NaN
1,1,843,A Clockwork Orange,"['Science Fiction', 'Novella', 'Speculative fi...",alex a teenager living in near future england ...,NaN
2,2,986,The Plague,"['Existentialism', 'Fiction', 'Absurdist ficti...",the text of the plague is divided into five pa...,NaN
3,4,2080,A Fire Upon the Deep,"['Hard science fiction', 'Science Fiction', 'S...",the novel posits that space around the milky w...,NaN
4,5,2152,All Quiet on the Western Front,"['War novel', 'Roman à clef']",the book tells the story of paul b umer a germ...,NaN

In [5]:
book_summaries['ratings'] = book_summaries.ratings.apply(lambda x: np.random.uniform(2.0,5.0))

In [6]:
book_summaries.head()

,S.No,book_id,book_name,genre,summary,ratings
0,0,620,Animal Farm,"['Roman à clef', 'Satire', ""Children's literat...",old major the old boar on the manor farm calls...,2.096472
1,1,843,A Clockwork Orange,"['Science Fiction', 'Novella', 'Speculative fi...",alex a teenager living in near future england ...,3.906346
2,2,986,The Plague,"['Existentialism', 'Fiction', 'Absurdist ficti...",the text of the plague is divided into five pa...,2.235206
3,4,2080,A Fire Upon the Deep,"['Hard science fiction', 'Science Fiction', 'S...",the novel posits that space around the milky w...,3.751410
4,5,2152,All Quiet on the Western Front,"['War novel', 'Roman à clef']",the book tells the story of paul b umer a germ...,2.695472

In [7]:
book_summaries.head(10)

,S.No,book_id,book_name,genre,summary,ratings
0,0,620,Animal Farm,"['Roman à clef', 'Satire', ""Children's literat...",old major the old boar on the manor farm calls...,2.096472
1,1,843,A Clockwork Orange,"['Science Fiction', 'Novella', 'Speculative fi...",alex a teenager living in near future england ...,3.906346
2,2,986,The Plague,"['Existentialism', 'Fiction', 'Absurdist ficti...",the text of the plague is divided into five pa...,2.235206
3,4,2080,A Fire Upon the Deep,"['Hard science fiction', 'Science Fiction', 'S...",the novel posits that space around the milky w...,3.751410
4,5,2152,All Quiet on the Western Front,"['War novel', 'Roman à clef']",the book tells the story of paul b umer a germ...,2.695472
5,6,2890,A Wizard of Earthsea,"[""Children's literature"", 'Fantasy', 'Speculat...",ged is a young boy on gont one of the larger i...,3.077943
6,8,4081,Blade Runner 3: Replicant Night,"['Science Fiction', 'Speculative fiction']",living on mars deckard is acting as a consulta...,2.986739
7,9,4082,Blade Runner 2: The Edge of Human,"['Science Fiction', 'Speculative fiction']",beginning several months after the events in b...,3.391847
8,15,4386,Book of Job,['Religious text'],the book of job tells the story of an extremel...,2.587289
9,20,6020,Crash,"['Speculative fiction', 'Fiction', 'Novel']",the story is told through the eyes of narrator...,3.636807

In [8]:
book_summaries.ratings.isnull().sum()

0

In [9]:
book_summaries.ratings = round(book_summaries.ratings,1)

In [10]:
book_summaries.head()

,S.No,book_id,book_name,genre,summary,ratings
0,0,620,Animal Farm,"['Roman à clef', 'Satire', ""Children's literat...",old major the old boar on the manor farm calls...,2.1
1,1,843,A Clockwork Orange,"['Science Fiction', 'Novella', 'Speculative fi...",alex a teenager living in near future england ...,3.9
2,2,986,The Plague,"['Existentialism', 'Fiction', 'Absurdist ficti...",the text of the plague is divided into five pa...,2.2
3,4,2080,A Fire Upon the Deep,"['Hard science fiction', 'Science Fiction', 'S...",the novel posits that space around the milky w...,3.8
4,5,2152,All Quiet on the Western Front,"['War novel', 'Roman à clef']",the book tells the story of paul b umer a germ...,2.7

In [11]:
greater5 = book_summaries.ratings[book_summaries['ratings']>5]

In [12]:
greater5.sum()

0.0

In [13]:
book_summariesCopy = book_summaries

In [14]:
book_summariesCopy.genre = book_summariesCopy.genre.str.split(',',n=15,expand = True)

In [15]:
book_summariesCopy.head()

,S.No,book_id,book_name,genre,summary,ratings
0,0,620,Animal Farm,['Roman à clef',old major the old boar on the manor farm calls...,2.1
1,1,843,A Clockwork Orange,['Science Fiction',alex a teenager living in near future england ...,3.9
2,2,986,The Plague,['Existentialism',the text of the plague is divided into five pa...,2.2
3,4,2080,A Fire Upon the Deep,['Hard science fiction',the novel posits that space around the milky w...,3.8
4,5,2152,All Quiet on the Western Front,['War novel',the book tells the story of paul b umer a germ...,2.7

In [16]:
book_summariesCopy.genre

0                ['Roman à clef'
1             ['Science Fiction'
2              ['Existentialism'
3        ['Hard science fiction'
4                   ['War novel'
                  ...
12836        ['Science Fiction']
12837                ['Thriller'
12838                ['Thriller'
12839          ['Autobiography']
12840        ['Epistolary novel'
Name: genre, Length: 12841, dtype: object

In [17]:
book_summariesCopy.genre = book_summariesCopy.genre.replace('\[','',regex=True).astype(object)

In [18]:
book_summariesCopy.genre

0                'Roman à clef'
1             'Science Fiction'
2              'Existentialism'
3        'Hard science fiction'
4                   'War novel'
                  ...
12836        'Science Fiction']
12837                'Thriller'
12838                'Thriller'
12839          'Autobiography']
12840        'Epistolary novel'
Name: genre, Length: 12841, dtype: object

In [19]:
book_summariesCopy.genre = book_summariesCopy.genre.replace('\]','',regex=True).astype(object)

In [20]:
book_summariesCopy.genre

0                'Roman à clef'
1             'Science Fiction'
2              'Existentialism'
3        'Hard science fiction'
4                   'War novel'
                  ...
12836         'Science Fiction'
12837                'Thriller'
12838                'Thriller'
12839           'Autobiography'
12840        'Epistolary novel'
Name: genre, Length: 12841, dtype: object

In [23]:
book_summariesCopy.genre = book_summariesCopy.genre.replace("\'",'',regex=True).astype(object)

In [22]:
book_summariesCopy.genre

0                'Roman à clef'
1             'Science Fiction'
2              'Existentialism'
3        'Hard science fiction'
4                   'War novel'
                  ...
12836         'Science Fiction'
12837                'Thriller'
12838                'Thriller'
12839           'Autobiography'
12840        'Epistolary novel'
Name: genre, Length: 12841, dtype: object

In [25]:
for i in book_summariesCopy.genre:
    i = i[1:-1]

In [26]:
book_summariesCopy.genre

0                Roman à clef
1             Science Fiction
2              Existentialism
3        Hard science fiction
4                   War novel
                 ...
12836         Science Fiction
12837                Thriller
12838                Thriller
12839           Autobiography
12840        Epistolary novel
Name: genre, Length: 12841, dtype: object

In [27]:
book_summariesCopy.head()

,S.No,book_id,book_name,genre,summary,ratings
0,0,620,Animal Farm,Roman à clef,old major the old boar on the manor farm calls...,2.1
1,1,843,A Clockwork Orange,Science Fiction,alex a teenager living in near future england ...,3.9
2,2,986,The Plague,Existentialism,the text of the plague is divided into five pa...,2.2
3,4,2080,A Fire Upon the Deep,Hard science fiction,the novel posits that space around the milky w...,3.8
4,5,2152,All Quiet on the Western Front,War novel,the book tells the story of paul b umer a germ...,2.7

In [28]:
book_summaries = book_summariesCopy

In [29]:
book_summaries.head()

,S.No,book_id,book_name,genre,summary,ratings
0,0,620,Animal Farm,Roman à clef,old major the old boar on the manor farm calls...,2.1
1,1,843,A Clockwork Orange,Science Fiction,alex a teenager living in near future england ...,3.9
2,2,986,The Plague,Existentialism,the text of the plague is divided into five pa...,2.2
3,4,2080,A Fire Upon the Deep,Hard science fiction,the novel posits that space around the milky w...,3.8
4,5,2152,All Quiet on the Western Front,War novel,the book tells the story of paul b umer a germ...,2.7

In [30]:
book_summaries.to_csv("book_summaries(2).csv")