In [16]:
import pandas as pd 
import numpy as np

In [17]:
book_summaries = pd.read_csv("book_summaries.csv")
book_summaries.head()

,Unnamed: 0,S.No,book_id,book_name,genre,summary,ratings,year,age
0,0,0,620,Animal Farm,Roman à clef,old major the old boar on the manor farm calls...,2.1,NaN,NaN
1,1,1,843,A Clockwork Orange,Science Fiction,alex a teenager living in near future england ...,3.9,NaN,NaN
2,2,2,986,The Plague,Existentialism,the text of the plague is divided into five pa...,2.2,NaN,NaN
3,3,4,2080,A Fire Upon the Deep,Hard science fiction,the novel posits that space around the milky w...,3.8,NaN,NaN
4,4,5,2152,All Quiet on the Western Front,War novel,the book tells the story of paul b umer a germ...,2.7,NaN,NaN

In [18]:
book_summaries['year'] = book_summaries.year.apply(lambda x: np.random.randint(1801,2021))

In [19]:
book_summaries.head()

,Unnamed: 0,S.No,book_id,book_name,genre,summary,ratings,year,age
0,0,0,620,Animal Farm,Roman à clef,old major the old boar on the manor farm calls...,2.1,1838,NaN
1,1,1,843,A Clockwork Orange,Science Fiction,alex a teenager living in near future england ...,3.9,1810,NaN
2,2,2,986,The Plague,Existentialism,the text of the plague is divided into five pa...,2.2,1931,NaN
3,3,4,2080,A Fire Upon the Deep,Hard science fiction,the novel posits that space around the milky w...,3.8,1965,NaN
4,4,5,2152,All Quiet on the Western Front,War novel,the book tells the story of paul b umer a germ...,2.7,1988,NaN

In [20]:
book_summaries.year.isnull().sum()

0

In [21]:
book_summaries.year.unique()

array([1838, 1810, 1931, 1965, 1988, 1941, 1818, 2010, 2014, 1836, 1914,
       1971, 2004, 1989, 1884, 1903, 1831, 1815, 1964, 1960, 1939, 1958,
       1885, 1802, 2018, 1912, 1827, 1934, 1805, 1975, 1950, 1972, 1850,
       1999, 1878, 1848, 1995, 1892, 1940, 1846, 1906, 1959, 1881, 2005,
       1923, 1845, 1919, 2015, 1952, 1951, 1957, 1835, 1816, 1814, 1834,
       1821, 1803, 1860, 2009, 1809, 1889, 1826, 1823, 1961, 1828, 1918,
       1948, 1851, 1913, 2011, 1841, 1879, 1969, 1922, 1991, 1856, 1822,
       1998, 1891, 1927, 1877, 1820, 1915, 2019, 1974, 1982, 2002, 1833,
       1909, 1862, 1863, 1899, 1837, 1872, 1829, 1890, 1896, 2007, 2008,
       1993, 1946, 1840, 1936, 1813, 1871, 1886, 1953, 1907, 1956, 1868,
       1905, 1852, 1920, 1916, 1945, 1842, 1859, 2020, 1930, 1801, 1925,
       1849, 1870, 1924, 1843, 1825, 1943, 1807, 1977, 1980, 2000, 1857,
       1900, 1955, 1992, 1817, 1867, 1901, 1866, 1949, 1921, 1908, 1806,
       1954, 1895, 2006, 1968, 1847, 1979, 2016, 1926, 2001, 1898, 1911,
       1997, 1876, 1839, 1935, 1854, 1970, 1985, 1984, 1928, 1917, 1983,
       2017, 2013, 1994, 1937, 1873, 1893, 1996, 1811, 1973, 2003, 1938,
       1981, 1963, 1894, 1882, 1978, 1902, 1844, 1987, 1880, 1832, 1962,
       1819, 1830, 1929, 1869, 1986, 1808, 1944, 1883, 1874, 1888, 1947,
       1804, 1858, 2012, 1824, 1853, 1942, 1887, 1904, 1897, 1875, 1933,
       1910, 1812, 1861, 1855, 1967, 1932, 1864, 1990, 1865, 1966, 1976],
      dtype=int64)

In [22]:
book_summaries['age'] = book_summaries.age.apply(lambda x: np.random.randint(10,65))

In [23]:
book_summaries.head()

,Unnamed: 0,S.No,book_id,book_name,genre,summary,ratings,year,age
0,0,0,620,Animal Farm,Roman à clef,old major the old boar on the manor farm calls...,2.1,1838,64
1,1,1,843,A Clockwork Orange,Science Fiction,alex a teenager living in near future england ...,3.9,1810,20
2,2,2,986,The Plague,Existentialism,the text of the plague is divided into five pa...,2.2,1931,24
3,3,4,2080,A Fire Upon the Deep,Hard science fiction,the novel posits that space around the milky w...,3.8,1965,60
4,4,5,2152,All Quiet on the Western Front,War novel,the book tells the story of paul b umer a germ...,2.7,1988,10

In [25]:
book_summaries.to_csv("book_summaries1.csv")